{% extends 'base.html' %}

{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Wishlist</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'wishlist:show_wishlist' %}">Home</a>
        </li>
      </ul>
      <a href="{% url 'wishlist:logout' %}" class="navbar-item btn btn-sm btn-outline-secondary" type="button" >Logout</a>
    </div>
</nav>

<div class="mx-5 my-3">
    <h5>Nama: </h5>
    <p>{{nama}}</p>

    <div class="barang"></div>

    <form id="submission" method="POST" action="">
      {% csrf_token %}
      <table style="margin: 0px auto;">
        <tr>
            <td><input type="text" id="nama_barang" name="nama_barang" placeholder="Nama Barang" class="form-control"></td>
        </tr>
                
        <tr>
            <td><input type="text" id="harga_barang" name="harga_barang" placeholder="Harga Barang" class="form-control"></td>
        </tr>

        <tr>
          <td><input type="text" id="deskripsi" name="deskripsi" placeholder="Deskripsi" class="form-control"></td>
        </tr>

        <tr>
          <td><button id="createBtn" type="button" class="btn btn-primary form-control" type="submit">Create</button></td>
        </tr>
    </table>
    </form>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
</div>

<script>
    
  $(document).ready(function() {
    load();
  });

  async function load() {
    $.ajax({url: "http://127.0.0.1:8000/wishlist/json", type: 'GET', success: function(data) {
      var res = `
      <table class='table table-striped'>
        <tr class='table-dark'>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
        </tr>
      `;
      for (i = 0; i<data.length; i++) {
        res+=
              `<tr>
                  <td>${data[i].fields.nama_barang}</td>
                  <td>${data[i].fields.harga_barang}</td>
                  <td>${data[i].fields.deskripsi}</td>
              </tr>`
      }
      $(".barang").html(res+"</table>");
    }});
  };

  $("#createBtn").click(function() {
    var data = $("#submission");
    $.ajax({
      type:'POST',
      url: "http://127.0.0.1:8000/wishlist/ajax/submit",
      data: data.serialize(),
      success: function() {
          load();
      }
    });
  });
</script>

{% endblock content %}